.containerpage {
	width: 100%;

}
.kor {
	margin-left: 50rem;
}
.form-control {
	width: 500px;
}
.line {
	width: 40rem;
	border-color: grey;
	height: 0.1rem;
	background-color: grey;
	size: bold;
}
footer{
	position: relative;
	background-color: lightgrey;
	width: 100%;
}
.textcolor {
	color: white;
}
.box1 {
	padding-top: 40px;
}
.size {
	width: 100%;
}
.fab {
	padding-left: 30px;
}